<div class="utils_center_text paytable-content" >
    <div>
        <div class="Wild-header-text">
            {{#WILD_HEADING_TEXT}}<div>{{.}}</div>{{/WILD_HEADING_TEXT}}
        </div>
    </div>
    <div class="interface-settingsSection_subSection_uri section_divider"></div>
        <div class ="paytable-feature1-mobile">
            <div class="paytable-feature-imageWild1-mobile">
                <img src="{{IMAGE}}" class="feature-imageWild1-mobile"/>
                    {{#WILD_TEXT}}
                        <div class="paytable-spreading-wild-text-mobile">{{.}}</div>
                    {{/WILD_TEXT}}
            </div>
            <div class="paytable-feature-imageWild2-mobile">
                <img src="{{IMAGE2}}" class="feature-imageWild2-mobile"/>
                {{#SPREADING_WILD_TEXT_1}}
                        <div class="paytable-spreading-wild-text-mobile">{{.}}</div>
                    {{/SPREADING_WILD_TEXT_1}}
            </div>
            <div class="paytable-feature-imageWild3-mobile">
                <img src="{{IMAGE3}}" class="feature-imageWild3-mobile"/>
                    {{#SPREADING_WILD_TEXT_2}}
                        <div class="paytable-spreading-wild-text-mobile">{{.}}</div>
                    {{/SPREADING_WILD_TEXT_2}}
            </div>
        </div>
            <div class="paytable-feature-body-wild-mobile">
            <div class="paytable-wild-mainGame-mobile-text">
                {{#BODY}}
                    <div class="paytable-text">{{.}}</div>
                {{/BODY}}
                {{#WILD_MAIN_GAME_TEXT}}
                    <div class="paytable-text">{{.}}</div>
                {{/WILD_MAIN_GAME_TEXT}}
                {{#MORE_INFO_TEXT}}
                    <div class="paytable-text">{{.}}</div>
                {{/MORE_INFO_TEXT}}
            </div>
        </div>
</div>

