<div  class="interface-settingsSection_subSection_uri paytable-feature-margin">
    <div>
        <div class="Stacked-header-text">{{HEADER}}</div>
    </div>
    <div class="interface-settingsSection_subSection_uri section_divider"></div>
    <div class="utils_center_text paytable-content" >
        <div class="paytable-page">
            <div>
                <div class="paytable-feature-scatterImage1-mobile">
                    <img src="{{IMAGE}}" class="image3-mobile"/>
                    {{#FREESPINS_SYMBOL_TEXT}}
                        <div class="paytable-freespins-text-style-mobile">{{.}}</div>
                    {{/FREESPINS_SYMBOL_TEXT}}
                </div>
                <div class="paytable-feature-scatterImage2-mobile">
                    <img src="{{IMAGE2}}" class="image3-mobile"/>
                    {{#TARGET_SYMBOL_TEXT}}
                        <div class="paytable-target-symbol-style-mobile">{{.}}</div>
                    {{/TARGET_SYMBOL_TEXT}}
                </div>
            </div>
            <div class="paytable-feature-body-freespins-mobile">
                    {{#BODY}}
                        <div class="paytable-nooffreespins-text">{{.}}</div>
                    {{/BODY}}
                    {{#WILD_MAIN_GAME_TEXT}}
                        <div class="paytable-wild-more-info-text">{{.}}</div>
                    {{/WILD_MAIN_GAME_TEXT}}
                    {{#ADDITIONAL_FREESPINS_GAME_TEXT}}
                        <div>{{.}}</div>
                    {{/ADDITIONAL_FREESPINS_GAME_TEXT}}
                    {{#MORE_INFO_TEXT}}
                        <div>{{.}}</div>
                    {{/MORE_INFO_TEXT}}
        </div>
    </div>
</div>
</div>