<div  class="interface-settingsSection_subSection_uri paytable-feature-margin">
    <div>
        <div class="Stacked-header-text">{{HEADING}}</div>
    </div>
    <div class="interface-settingsSection_subSection_uri section_divider"></div>
    <div class="utils_center_text paytable-content" >
        <div class="paytable-page">
            <div>
                <div>
                    <img src="{{IMAGE_HIGH}}" class="image4-mobile"/>
                </div>
                <div>
                    <div>
                        <img src="{{IMAGE_LOW}}" class="image4-mobile"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
