<div  class="interface-settingsSection_subSection_uri paytable-feature-margin">
    <div>
        <div class="Stacked-header-text">{{HEADER}}</div>
    </div>
    <div class="interface-settingsSection_subSection_uri section_divider"></div>
    <div class="utils_center_text paytable-content" >
        <div class="paytable-page">
            <div>
                <div class="paytable-feature-betlineImage-mobile">
                    <img src="{{IMAGE}}" class="image5-mobile"/>
                </div>
            </div>
        </div>
    </div>
</div>