<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
﻿<link rel="stylesheet" href="../../../../gamerules/styles/mobilestyle.css" type="text/css"/>

<p class="largeHeader">Creature from the Black Lagoon Touch Game Rules</p>
	<!-- Creature from the Black Lagoon Touch Game Rules -->

<ul>
	<li>Creature from the Black Lagoon Touch is a 5-reel, 3-row, 20-line video slot featuring Wild substitutions, Sticky Wilds, Spreading Wilds, re-spins and Free Spins.</li>
		<!-- Creature from the Black Lagoon Touch is a 5-reel, 3-row, 20-line video slot featuring Wild substitutions, Sticky Wilds, Spreading Wilds, re-spins and Free Spins. -->
	<li>The game is played with 20 bet lines (fixed), 1-10 bet levels and different coin values.</li>
		<!-- The game is played with 20 bet lines (fixed), 1-10 bet levels and different coin values. -->
	<li>Winning combinations and payouts are made according to the Paytable.</li>
		<!-- Winning combinations and payouts are made according to the Paytable. -->
	<li>Bet level is the number of coins bet per bet line.</li>
		<!-- Bet level is the number of coins bet per bet line. -->	
	<li><b>COINS</b> displays the number of coins available to wager.</li>	
		<!-- COINS displays the number of coins available to wager.-->
	<li><b>AUTOPLAY</b> automatically plays the game for the selected number of rounds.</li>
		<!-- AUTOPLAY automatically plays the game for the selected number of rounds. -->
	<li>A bet line win in coins is equal to the value shown in the Paytable multiplied by the bet level.</li>
		<!-- A bet line win in coins is equal to the value shown in the Paytable multiplied by the bet level. -->	
	<li>A bet line win in currency is equal to the win in coins multiplied by the coin value.</li>
		<!-- A bet line win in currency is equal to the win in coins multiplied by the coin value. -->	
	<li>Only the highest win per bet line is paid.</li>
		<!-- Only the highest win per bet line is paid. -->	
	<li>Bet line wins pay if in succession from the leftmost reel to the rightmost reel.</li>
		<!-- Bet line wins pay if in succession from the leftmost reel to the rightmost reel.  -->
	<li>Simultaneous wins on different bet lines are added.</li>
		<!-- Simultaneous wins on different bet lines are added. -->
	<li>All wins pay on bet lines only, except for wins with Free Spin symbols.</li>	
		<!-- All coin wins pay on bet lines only, except for wins with Free Spin symbols.  -->
	<li>In the main game, <b>TOTAL WIN</b> displays any wins during re-spins added to any wins from the round that activated the re-spins.</li>
		<!-- In the main game, TOTAL WIN displays any wins during re-spins added to any wins from the round that activated the re-spins. -->
</ul>

<p><b>Wild Symbol</b></p>
	<!-- Wild Symbol-->	
<ul>	
	<li>Wild symbols can appear randomly anywhere on the reels in the main game, and substitute for all symbols except for Free Spin symbols and target symbols.</li>
		<!-- Wild symbols can appear randomly anywhere on the reels in the main game and substitute for all symbols except for Free Spin symbols and target symbols.   -->
	<li>When a Wild symbol appears on the reels in the main game and in Free Spins, it acts as a Sticky Wild and remains on the reels for subsequent re-spin or re-spins.</li>
		<!-- When a Wild symbol appears on the reel in the main game and in Free Spins, it acts as a Sticky Wild and remains on the reels for 1 free re-spin. -->
	<li>During a re-spin, the Sticky Wild symbol holds the position on the reel.</li>
		<!-- During a re-spin, the Sticky Wild symbol holds the position on the reel. -->
	<li>Additional Wild symbols appearing anywhere on the reels in the main game and in Free Spins, also remain on the reels until the re-spins end.</li>
		<!-- Additional Wild symbols appearing anywhere on the reels in the main game and in Free Spins, also remain on the reels until the re-spins end.  -->
	<li>In the main game and in Free Spins, all Wild symbols remain on the reels for the re-spin, and the re-spins end when there are no new Wild symbols remaining anywhere on the reels.</li>
		<!-- In the main game and in Free Spins, all Wild symbols remain on the reels for the re-spin, and the re-spins end when there are no new Wild symbols remaining anywhere on the reels.   -->
	<li>Re-spin wins are added to any wins from the initial spin.</li>
		<!-- Re-spin wins are added to any wins from the initial spin. -->
	<li>Any re-spins that are won in the round that activated Free Spins are played after the Free Spins are completed.</li>
		<!-- Any re-spins that are won in the round that activated Free Spins are played after Free Spins are completed.  -->
	<li>In Free Spins, when level 1 of the Health Meter is reached, Wild symbols can appear randomly anywhere on reels 1-4. At levels 2-4, Wild symbols can appear randomly anywhere on reels 2, 3, and 4.</li>
		<!-- In Free Spins, when level 1 of the Health Meter is reached, Wild symbols can appear randomly anywhere on reels 1-4. At levels 2-4, Wild symbols can appear randomly anywhere on reels 2,3 and 4. -->
	<li>Wild symbol substitution pays the highest possible winning combination on a bet line according to the Paytable.</li>
		<!-- Wild symbol substitution pays the highest possible winning combination on a bet line according to the Paytable. -->
</ul>

<p><b>Free Spins</b></p>
    <!--  Free Spins -->    
<ul>
	<li>3 or more Free Spin symbols, appearing randomly anywhere on the reels in the main game, activate Free Spins.</li>	
		<!--  3 or more Free Spin symbols, appearing randomly anywhere on the reels in the main game, activate Free Spins. -->
		<ul>
			<li>3 Free Spins symbols = 10 Free Spins</li>	
				<!-- 3 Free Spins symbols activate 10 Free Spins. -->
			<li>4 Free Spins symbols = 15 Free Spins</li>	
				<!-- 4 Free Spins symbols activate 15 Free Spins. -->
			<li>5 Free Spins symbols =  20 Free Spins</li>
				<!-- 5 Free Spins symbols activate 20 Free Spins. -->
		</ul> 
	<li>In Free Spins, a target symbol can appear randomly anywhere on reel 5 only.</li>	
		<!-- In Free Spins, a target symbol can appear randomly anywhere on reel 5 only.  -->
	<li>When a target symbol appears, the Creature appears on the right hand side of the screen and gets shot.</li>
		<!-- When a target symbol appears, the Creature appears on the right hand side of the screen and gets shot.  -->
	<li>A Health Meter on the bottom right hand corner of the screen displays the Creature's health status.</li>
		<!-- A Health Meter on the bottom right hand corner of the screen displays the Creature's health status.  -->
	<li>As more Creature hits occur, and a new level is reached on the Health Meter, the Creature's health deteriorates and one of the following outcomes applies:</li>	
		<!-- As more Creature hits occur, and a new level is reached on the Health Meter, the Creature's health deteriorates and one of the following outcomes applies: -->	
	<ul>
		<li>Level 1 is 0-2 collected target symbols: Any Wild symbols appearing on the reels act as a Sticky Wild that remains on the reels for 1 re-spin.</li>
			<!-- Level 1 is 0-2 collected target symbols: Any Wild symbols appearing on the reels act as a Sticky Wild that remains on the reels for 1 re-spin. --> 
		<li>Level 2 is 3-5 collected target symbols: The 1st Spreading Wild is activated. Wild symbols spread horizontally 1 position to the left only and remain on the reels for 1 re-spin.</li> 
			<!-- Level 2 is 3-5 collected target symbols: The 1st Spreading Wild is activated. Wild symbols spread horizontally 1 position to the left only and remain on the reels for 1 re-spin. -->
		<li>Level 3 is 6-8 collected target symbols: The 2nd Spreading Wild is activated. Wild symbols spread horizontally 1 position on the reels, both to the left and to the right, and remain on the reels for 1 re-spin.</li>
			<!-- Level 3 is 6-8 collected target symbols: The 2nd Spreading Wild is activated. Wild symbols spread horizontally 1 position on the reels, both to the left and to the right, and remain on the reels for 1 re-spin. -->
		<li>At level 4, the final level, 9 collected target symbols activate 10 additional Free Spins.</li>
			<!-- At level 4, the final level, 9 collected target symbols activate 10 additional Free Spins. -->
	</ul>
	<li>In additional Free Spins, any Wild symbols appearing on the reels spread horizontally 1 position on the reels both to the left and to the right.</li>
		<!-- In additional Free Spins, any Wild symbols appearing on the reels spreads horizontally 1 position on the reels both to the left and to the right. -->
	<li>Wild symbols appearing on the reels in the spin that unlocks levels 2 or 3 will not activate the new Spreading Wild behaviour.</li>
		<!-- Wild symbols appearing on the reels in the spin that unlocks levels 2 or 3 will not activate the new Spreading Wild behavior. -->
	<li>If a Wild symbol appearing on reel 4 spreads onto a target symbol, both symbols retain their standard behaviour.</li>
		<!-- If a Wild symbol appearing on reel 4 spreads onto a target symbol, both symbols retain their standard behaviour. -->
	<li>After level 4 no further target symbols can be collected.</li>
		<!-- After level 4 no further target symbols can be collected. -->	
	<li>Additional Free Spins and re-spins won are automatically added to the current Free Spins.</li>
		<!-- Additional Free Spins and re-spins won are automatically added to the current Free Spins. -->
	<li>Free Spins are played at the same bet level and coin value as the round that activated Free Spins.</li>	
		<!-- Free Spins are played at the same bet level and coin value as the round that activated Free Spins.  -->		
   	<li><b>TOTAL WIN</b> displays any wins during Free Spins added to any wins from the round that activated Free Spins.</li>	
		<!-- TOTAL WIN displays any wins during Free Spins added to any wins from the round that activated Free Spins.  -->	
	<li>At the end of Free Spins, the game returns to the round that activated Free Spins.</li>
		<!-- At the end of Free Spins, the game returns to the round that activated Free Spins. -->	
</ul> 

<table class="gamerulestable">
<tbody>
	<tr>
		<th colspan="2">Main Game</th>
		<!-- Main Game -->
	</tr>
	<tr>
		<td class="imgcell">
		<img src="../images/spinbutton.png" style="width:50px;height:50px" />
		</td>
		<td>
			<p class="smallHeader">Spin Button</p>
			<!-- Spin Button -->
			<p>Tap to start playing at the current bet lines, bet level and coin value.</p>
			<!-- Tap to start playing at the current bet level and coin value. -->
			<p>In landscape mode, touch the game area to hide the Spin button.</p>
			<!-- In landscape mode, touch the game area to hide the Spin button. -->
			<p><strong>Quick Stop</strong>: Tap the game area during a spin to stop the reels.</p>
			<!-- Quick Stop. Tap the game area during a spin to stop the reels. -->
		</td>
	</tr>
	<tr>
		<td class="imgcell">
		<img src="../images/menu_btn.png" style="width:50px;height:50px" />
		</td>
		<td>
			<p class="smallHeader">Menu</p>
			<!-- Menu -->
			Tap to access the game settings and game information.
			<!-- Tap to access the game settings and game information. -->
		</td>
	</tr>
	<tr>
		<td class="imgcell">
		<img src="../images/audio_on.png" style="width:50px;height:50px" />
		</td>
		<td>
			<p class="smallHeader">Sound</p>
			<!-- Sound -->
			Tap to turn Sound on or off without going to the settings menu.
			<!-- Tap to turn Sound on or off without going to the settings menu. -->
		</td>
	</tr>
	<tr>
		<td class="imgcell">
		<img src="../images/quick_settings.png" style="width:60px;height:50px" />
		</td>
		<td>
			<p class="smallHeader">Quick settings menu</p>
			<!-- Quick Settings -->
			Tap the plus sign to access the Quick settings menu.
			<!-- Tap the plus sign to access the Quick settings menu. -->
		</td>
	</tr>
	<tr>
		<td class="imgcell">
		<img src="../images/quickspin_UI.png" style="width:50px;height:50px" />
		</td>
		<td>
			<p class="smallHeader">Quick Spin</p>
			<!-- Quick Spin -->
			Tap to turn Quick spin on or off without going to the settings menu.
			<!-- Tap to turn Quick spin on or off without going to the settings menu. -->
		</td>
	</tr>
	<tr>
		<td class="imgcell">
		<img src="../images/autoplay_UI.png" style="width:50px;height:50px" />
		</td>
		<td>
			<p class="smallHeader">Autoplay</p>
			<!-- Autoplay -->
			Tap to turn Autoplay on or off without going to the settings menu. Sets 50  rounds by default.
			<!-- Tap to turn Autoplay on or off without going to the settings menu. Sets 50 rounds by default. -->
		</td>
	</tr>
	<tr>
		<td class="imgcell">
		<img src="../images/casino_btn.png" style="width:50px;height:50px" />
		</td>
		<td>
			<p class="smallHeader">Exit</p>
			<!-- Exit -->
			Tap to leave the game.
			<!-- Tap to leave the game and return to the Casino. -->
		</td>
	</tr>
</tbody>
</table>
<table class="gamerulestable">
<tbody>
	<tr>
		<th colspan="2">Game Settings and Game Information</th>
		<!-- Game Settings and Game Information -->
	</tr>
	<tr>
		<td class="imgcell">
		<img src="../images/sound_settings.png" style="width:50px;height:50px" />
		</td>
		<td>
			<p class="smallHeader">Sound Settings</p>
			<!-- Sound Settings -->
			<ul>
				<li>
				<p><strong>Game sounds</strong>: Tap the switch to turn sounds on or off.</p>
				<!-- Game sounds. Tap the switch to turn sounds on or off. -->
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="imgcell">
		<img src="../images/spin_settings.png" style="width:50px;height:50px" />
		</td>
		<td>
			<p class="smallHeader">Spin Settings</p>
			<!-- Spin Settings -->
			<ul>
				<li><strong>Autoplay</strong>: Drag or tap the slider to enable Autoplay to set the autoplay settings and the number of rounds. Autoplay plays the game for the selected number of spins.</li>
					<!-- Autoplay. Drag or tap the slider to enable Autoplay to set the autoplay settings and the number of rounds. Autoplay plays the game for the selected number of spins.	 -->
			<ul> 
				<li><strong>If single win exceeds</strong>. Stops Autoplay when the amount you win exceeds or equals the amount you specify.</li>
					<!-- If single win exceeds. Stop Autoplay when the amount you win exceeds or equals the amount you specify. -->
				<li><strong>If cash increases by</strong>: Stops Autoplay if cash increases by the amount you specify.</li>
					<!-- If cash increases by. Stop Autoplay if cash increases by the amount you specify. -->
				<li><strong>If cash decreases by</strong>: Stops Autoplay if cash decreases by the amount you specify.</li>
					<!-- If cash decreases by. Stop Autoplay if cash decreases by the amount you specify. -->
			</ul>	
			<p><b>Note:</b> Autoplay stops when Free Spins are won.</p>
				<!-- Note: Autoplay stops when Free Spins are won. -->
			<p><b>Note:</b> If you are disconnected while playing, all Autoplay settings will return to default when you reload the game.</p>
				<!-- Note: If you are disconnected while playing, all Autoplay settings will return to default when you reload the game. -->
			<p><b>Note:</b> Some Autoplay settings are mandatory for some jurisdictions.</p>
			<!-- Note: Some autoplay settings are mandatory for some jurisdictions. -->				
				<li><strong>Quick spin</strong>: Tap the switch to turn Quick spin on or off.</li>
					<!-- Quick spin. Tap to turn the Quick spin on or off. -->
				<li><strong>Left Hand Mode</strong>: Tap to turn the left hand mode on or off.</li>
					<!-- Left Hand Mode. Tap to turn the left hand mode on or off. -->
			</ul>
		</td>
	</tr>
	<tr>
		<td class="imgcell">
		<img src="../images/Bet_settings.png" style="width:50px;height:50px" />
		</td>
		<td>
			<p class="smallHeader">Bet Settings</p>
			<!-- Bet Settings -->
			<ul>
				<li><strong>Bet in cash</strong>: Shows your bet amount in selected currency.</li>
				<!-- Bet in cash: Shows your bet amount in selected currency. -->
				<li><strong>Bet in coins</strong>: Shows your bet amount in coins.</li>
				<!-- Bet in coins: Shows your bet amount in coins. -->
				<li><strong>Bet level</strong>: Drag or tap the slider to select the number of coins to bet per bet line.</li>
				<!-- Bet level: Drag or tap the slider to select the number of coins to bet per bet line. -->
				<li><strong>Coin value</strong>: Drag or tap the slider to select the coin value.</li>
				<!-- Coin value: Drag or tap the slider to select the coin value -->
			</ul>
		</td>
	</tr>
	<tr>
		<td class="imgcell">
		<img src="../images/Paytable.png" style="width:50px;height:50px" />
		</td>
		<td>
			<p class="smallHeader">Paytable</p>
			<!-- Paytable -->
			Tap to view winning combinations and payouts.
			<!-- Tap to view winning combinations and payouts. -->
		</td>
	</tr>
	<tr>
		<td class="imgcell">
		<img src="../images/game_rules.png" style="width:50px;height:50px" />
		</td>
		<td>
			<p class="smallHeader">Game Rules</p>
			<!-- Game Rules -->
			Tap to view the game rules.
			<!-- Tap to view the game rules. -->
		</td>
	</tr>
	<tr>
		<td class="imgcell">
		<img src="../images/history_btn.png" style="width:50px;height:50px" />
		</td>
		<td>
			<p class="smallHeader">Game History</p>
			<!-- Game History -->
			<p>Tap to view your latest game history.</p>
			<!-- Tap to view your latest game history. -->
			<p>The game history is available only when playing for money.</p>
			<!-- The Game history is available only when playing for money. -->
		</td>
	</tr>
	<tr>
		<td class="imgcell">
		<img src="../images/back_btn.png" style="width:50px;height:50px" />
		</td>
		<td>
			<p class="smallHeader">Back</p>
			<!-- Back -->
			<p>Tap to go back to the main game.</p>
			<!-- Tap to go back to the main game. -->
		</td>
	</tr>
</tbody>
</table>
<table class="gamerulestable">
<tbody>
	<tr>
		<th colspan="2">Autoplay and Quick Spin</th>
		<!-- Autoplay and Quick Spin -->
	</tr>
	<tr>
		<td class="imgcell">
		<img src="../images/autoplay.png" style="width:50px;height:50px" />
		</td>
		<td>
			<p class="smallHeader">Autoplay</p>
			<!-- Autoplay -->
			<p>Tap to start Autoplay.</p> <p>The number of spins selected is displayed on the button.</p>
			<!-- Tap to start Autoplay. The number of spins selected is displayed on the button. -->
		</td>
	</tr>
	<tr>
		<td class="imgcell">
		<img src="../images/autoplay-stop.png" style="width:50px;height:50px" />
		</td>
		<td>
			<p class="smallHeader">Stop Autoplay</p>
			<!-- Stop Autoplay -->
			<p>Tap to stop Autoplay.</p> <p>The number of spins remaining is displayed on the button.</p>
			<!-- Tap to stop Autoplay. The number of spins remaining is displayed on the button. -->
		</td>
	</tr>
	<tr>
		<td class="imgcell">
		<img src="../images/quickspin.png" style="width:50px;height:50px" />
		</td>
		<td>
			<p class="smallHeader">Quick Spin</p>
			<!-- Quick Spin -->
			<p>Tap to start Quick spin.</p>
			<!-- Tap to start quick spin. -->
		</td>
	</tr>
</tbody>
</table>

<p><b>Note:</b> Some operators may not offer all of the listed game settings.</p>
<!-- Note: Some casinos may operate without all of the listed game settings. -->

<p class="smallHeader">Return to Player</p>
<ul>
	<li>The theoretical return to player for this game is 96.47%.</li>
	<!-- The theoretical return to player for this game is 96.47%. -->	
</ul>

<p class="largeHeader">Additional Information</p>
    <!-- Additional information -->	
<ul>
	<li>The following game features and settings may be subject to the terms and conditions of the gaming site. For more information on the following, refer to the gaming website:
    <!-- The following game features and settings may be subject to the terms and conditions of the gaming site. For more information on the following, refer to the gaming website: -->	
		<ul>
			<li>The procedures used to manage unfinished game rounds.</li>
			<!-- The procedures used to manage unfinished game rounds. -->
			<li>The time after which inactive game sessions automatically end.</li>
			<!-- The time after which inactive game sessions automatically end. -->
		</ul>
    </li>
	<li>In the event of malfunction of the gaming hardware/software, all affected game bets and payouts are rendered void and all affected bets refunded.</li>
    <!-- In the event of malfunction of the gaming hardware/software, all affected game bets and payouts are rendered void and all affected bets refunded. -->
</ul>

<p class="smallHeader">Translations of Game Terminology</p>
<p><b>Note</b>: The following table is only applicable if you are playing in a language other than English.</p>
<!-- Note: The following table is only applicable if you are playing in a language other than English. -->	

<table border="" cellpadding="3" style="margin-left:55px;" >
		<tr bgcolor="rgb(118, 173, 28)">
            <th align="left">English Term</th>
			<th align="left">Translated Term</th>
		</tr>
		<tr>
			<td>Wild</td>
			<td>Wild</td>
		</tr>
		<tr>
			<td>Free Spins</td>
			<td>Free Spins</td>
			<!-- Free Spins -->
		</tr>
		<tr>
			<td>Sticky Wild</td>
			<td>Sticky Wild</td>
		</tr>
		<tr>
			<td>Spreading Wild</td>
			<td>Spreading Wild</td>
		</tr>	
		<tr>
			<td>Stacked Wild</td>
			<td>Stacked Wild</td>
		</tr>
 </table>
<p></p><p><b>Game rules generated:</b></p>
<div id='manifest_timestamp' style='margin-top:10px;'>2019-11-11 07:00:22</div><!-- Version: 2.0.0 -->