<div class="utils_center_text paytable-content" >
    <div class="paytable-page">
        <div>
            <div class="paytable-feature-image">
                <img src="{{IMAGE}}" class="feature-image"/>
            </div>
        </div>
        <div class="paytable-feature-body-wild">
            {{#BODY}}
                <div class="paytable-text">{{.}}</div>
            {{/BODY}}
        </div>
    </div>
</div>
